html,
body {
  padding: 0;
  margin: 0;
}

svg {
  fill: currentColor;
}

#app {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

.week-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekday {
  border: 1px solid rgb(177, 177, 177);
  border-top: 0;
  border-bottom: 0;
  padding: 10px;
}

.weekday-header {
  display: flex;
  justify-content: space-between;
}

.weekday-task {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.5em;
  margin: 0.5em 0;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  background-color: #2188f3;
}

.month-view .weekday-task {
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
}

.weekday-task a {
  color: white;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr auto;
}

.weekday-task > input {
  margin: 0;
}

.weekday-task-list {
  padding: 0;
  margin: 1em 0;
}

.weekview-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-bottom: 1px solid black;
}

.arrow-buttons {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
}
.arrow-buttons button {
  background: transparent;
  border: none;
  display: flex;
}

.arrow-buttons button svg {
  width: 1.5rem;
}

.arrow-buttons button:hover,
.arrow-buttons button:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}
.weekview-create-task {
  font-weight: bold;
  width: 100%;
  border-radius: 0.3rem;
  background: rgba(67, 160, 71, 0.26);
  padding: 0.5rem;
  border: none;
}

.weekview-create-task:hover,
.weekview-create-task:focus {
  background: rgba(67, 160, 71, 0.86);
  outline: none;
}

.popup-background {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-background > * {
  background: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 2rem rgba(50, 47, 47, 0.49);
}

.create-task-popup {
  overflow: hidden;
  display: flex;
}

.create-task-popup input {
  font-size: 1.5rem;
  outline: none;
  border: none;
  padding: 1rem;
}

.create-task-popup button {
  background: #43a047;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
  margin-left: 0;
}

.create-task-popup button:hover,
.create-task-popup button:focus {
  background: #2e7d32;
}

.task-popup {
  width: 40em;
  height: 50em;
  max-width: calc(100vw - 10rem);
  max-height: calc(100vh - 10rem);
  background: white;
  display: grid;
  padding: 1.5rem;
  grid-gap: 1.5rem;
  align-content: start;
}

.task-close-button {
  background: transparent;
  border: none;
  padding: 0.5rem;
  margin: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
}

.task-close-button:hover,
.task-close-button:focus {
  background: rgba(0, 0, 0, 0.07);
}

.task-close-button svg {
  width: 1.5rem;
}

.task-popup header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 10px;
}

.task-popup header input {
  margin: 0;
}

.month-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  grid-gap: 0.5rem;
}

.month-view-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px solid black;
  align-items: center;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
}

.monthday {
  border: 1px solid rgb(177, 177, 177);
  padding: 5px 5px;
}

.monthday div {
  display: flex;
  justify-content: space-between;
}
.monthday-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.monthday-create-task {
  font-weight: bold;
  border-radius: 0.3rem;
  background: rgba(67, 160, 71, 0.15);
  padding: 0.2rem 0.3rem;
  border: none;
}
.monthday-create-task:hover,
.monthday-create-task:focus {
  background: rgba(67, 160, 71, 0.6);
  outline: none;
}
.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
}

.auth-form label {
  display: grid;
  grid-template-columns: auto 13rem;
  margin: 0.7rem 0;
}

.auth-form button {
  margin: 0.7rem 0;
}

.input-error {
  background: rgba(255, 0, 0, 0.23);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
}

.label {
  list-style-type: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto auto;
  align-items: center;
}

.label button {
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label button:hover,
.label button:focus {
  background: rgba(255, 255, 255, 0.2);
}

.label svg {
  width: 1.6rem;
  padding: 0.3rem;
}

.label-popup {
  padding: 1rem;
  display: grid;
  grid-gap: 0.5rem;
  overflow: hidden;
}

.label-popup > div {
  margin: -1rem;
  margin-bottom: 0;
  align-items: stretch;
}

.label-popup > div * {
  padding: 0.6rem;
  padding-bottom: 0;
}

.label-popup input[type='text'] {
  outline: none;
  border: none;
  font-size: 1rem;
}

.label-popup * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-popup button svg {
  width: 1.2rem;
}

.color-picker::before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: var(--color);
}

.color-picker input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.task-body {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-gap: 0.4em;
}

.task-attributes {
  display: grid;
  grid-gap: 1rem;
  align-content: start;
}

.box-of-labels {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-gap: 0.2em 0;
  position: relative;
}

.box-of-labels h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-of-labels h2 button {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background: rgba(67, 149, 160, 0.15);
  border: none;
}
.box-of-labels h2 button:hover,
.box-of-labels h2 button:focus {
  background: rgba(67, 149, 160, 0.6);
  outline: none;
}

.box-of-labels ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0.2rem;
}

.adding-labels {
  position: absolute;
  top: 1.9rem;
  margin: 0 -0.5rem;
  background: white;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: rgba(50, 47, 47, 0.49) 0 0 1.5rem;
  display: grid;
  overflow: hidden;
}

.adding-labels input {
  min-width: 0;
  border: none;
  margin: -0.5rem;
  padding: 0.7rem;
  font-size: 0.9rem;
  outline: none;
  margin-bottom: 0;
}

.adding-labels > button {
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  margin: 0.1rem;
  margin-top: 0.3rem;
}

.delete-task {
  background: rgba(255, 122, 122, 0.6);
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem;
}

.task-right-column {
  display: grid;
  grid-gap: 0.5rem;
}

.list-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow-y: hidden;
}

.list-view-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid black;
  min-height: 2.3rem;
  max-width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
}

.list-view-header button {
  justify-self: end;
  align-self: center;
  margin-right: 0.5rem;
  font-weight: bold;
  border-radius: 0.3rem;
  background: rgba(67, 160, 71, 0.15);
  padding: 0.3rem 0.6rem;
  border: none;
}

.list-view-header button:hover,
.list-view-header button:focus {
  background: rgba(67, 160, 71, 0.6);
  outline: none;
}

.list-view-lists {
  display: grid;
  grid-auto-columns: minmax(15rem, 20rem);
  grid-auto-flow: column;
  grid-gap: 1rem;
  padding: 1rem;
}

.list-view-list {
  background: rgba(0, 0, 0, 0.21);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.list-view-list h2 {
  padding: 0.3rem;
  border-radius: 0.3rem;
  background: white;
  display: flex;
  justify-content: space-between;
}

.list-view-list h2 button svg {
  width: 0.9rem;
  margin: 0.5rem;
}

.list-view-list h2 button {
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-view-list h2 button:hover,
.list-view-list h2 button:focus {
  background: rgba(255, 255, 255, 0.2);
}

.list-view-list ul {
  padding: 0;
  margin: 0;
}

.tabs {
  padding: 0 0.2rem;
  display: grid;
  align-self: end;
  justify-self: start;
  grid-auto-flow: column;
}
.tabs a {
  display: block;
  padding: 0.3rem 0.3rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  border: 1px solid black;
  border-bottom: 0;
  text-decoration: none;
  color: black;
}

.tabs a:hover,
.tabs a:focus {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}
