html,
body {
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

.week-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekday {
  border: 1px solid rgb(177, 177, 177);
  border-top: 0;
  border-bottom: 0;
  padding: 0 10px;
}

.weekday-header {
  display: flex;
  justify-content: space-between;
}

.weekday-task {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.5em;
  margin: 0.5em 0;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  background-color: #2188f3;
}

.weekday-task a {
  color: white;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr auto;
}

.weekday-task > input {
  margin: 0;
}

.weekday-task-list {
  padding: 0;
  margin: 1em 0;
}

.weekview-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px;
}

.weekview-header :last-child {
  justify-self: end;
}

.weekview-create-task {
  font-weight: bold;
  width: 100%;
  border-radius: 0.3rem;
  background: rgba(67, 160, 71, 0.26);
  padding: 0.5rem;
  border: none;
}

.weekview-create-task:hover,
.weekview-create-task:focus {
  background: rgba(67, 160, 71, 0.86);
  outline: none;
}

.popup-background {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-background > * {
  background: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 2rem rgba(50, 47, 47, 0.49);
}

.create-task-popup {
  overflow: hidden;
  display: flex;
}

.create-task-popup input {
  font-size: 1.5rem;
  outline: none;
  border: none;
  padding: 1rem;
}

.create-task-popup button {
  background: #43a047;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
  margin-left: 0;
}

.create-task-popup button:hover,
.create-task-popup button:focus {
  background: #2e7d32;
}

.task-popup {
  width: 40em;
  height: 50em;
  max-width: calc(100vw - 10rem);
  max-height: calc(100vh - 10rem);
  background: white;
  display: grid;
  padding: 1.5rem;
  grid-gap: 1.5rem;
  align-content: start;
}

.task-popup header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 10px;
}

.task-popup header input {
  margin: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
}

.auth-form label {
  display: grid;
  grid-template-columns: auto 13rem;
  margin: 0.7rem 0;
}

.auth-form button {
  margin: 0.7rem 0;
}

.input-error {
  background: rgba(255, 0, 0, 0.23);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
}
